<mat-toolbar class="text-white" style="background-color: dimgrey">
  <span><a routerLink="/" style="text-decoration: none" class="text-white">StackHome</a></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button *ngIf="!isConnected" mat-button routerLink="/login">Sign In</button>
  <button *ngIf="!isConnected" mat-button routerLink="/signup">Sign Up</button>


  <button *ngIf="isStaff" mat-button routerLink="/staff/my-apartments">Staff Members</button>

  <button *ngIf="isConnected" mat-button [matMenuTriggerFor]="afterMenu">{{ authUser.full_name }}</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button (click)="logout()" mat-menu-item>Logout</button>
  </mat-menu>

</mat-toolbar>
