<mat-toolbar class="text-white" style="background-color: dimgrey">
  <span><a routerLink="/" style="text-decoration: none" class="text-white">StackHome</a></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button *ngIf="!isConnected" mat-button routerLink="/login">Login</button>


  <button *ngIf="isStaff" mat-button [matMenuTriggerFor]="beforeMenu">Staff Members</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>My Apartments</button>
    <button mat-menu-item>My Rooms</button>
    <button mat-menu-item>Requests</button>
  </mat-menu>


  <button *ngIf="isConnected" mat-button [matMenuTriggerFor]="afterMenu">{{ authUser.full_name }}</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button (click)="logout()" mat-menu-item>Logout</button>
  </mat-menu>

</mat-toolbar>
