<div class="row">
  <div class="col s1 offset-s11"><a class="waves-effect waves-light btn" routerLink="/staff/my-rooms/new">New</a></div>
</div>
<div class="row">
  <div class="col-md-7">
    <table>
      <thead>
      <tr>
        <th>Image</th>
        <th>Address</th>
        <th>District</th>
        <th>Price</th>
        <th>Number of Beds</th>
        <th>Available</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let room of myRooms">
        <td>
          <img class="circle" style="width: 70px; height: 70px" src="{{room.img1}}">
        </td>
        <td>{{ room.address }}</td>
        <td>{{ room.district }}</td>
        <td>{{ room.price }}</td>
        <td>{{ room.beds }}</td>
        <td>{{ room.available }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <router-outlet></router-outlet>
  </div>
</div>

