.detail{
  min-height: 400px;
  padding-top: 50px;
}

.room-details{
  height: 300px;
  margin-top: 50px
}

.room-features{
  max-height: 300px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.room-map{
  max-height: 650px;
  padding-bottom: 50px;
  margin-top: 50px
}
