<div class="container detail">
  <div class="row">
    <div class="col-md-10">
      <div class="container">
        <mdb-carousel [animation]="'slide'">
          <mdb-carousel-item *ngFor="let image of images">
            <img class="d-block w-100" src="{{ image }}" alt="First slide" style="max-height: 500px">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
    <div class="col-md-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12" *ngFor="let img of images" >
            <img src="{{ img }}" style="max-height: 100%; max-width: 100%; opacity: 0.6; margin-top: 20px">
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container room-details">
  <h2 class="text-info">Room Details</h2>
  <hr><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="height: 200px">
        <h4>{{ room.address }}</h4>
        <div class="row">
          <div class="col-md-6">
            <p><b class="h6">District : </b> {{room.district}}</p>
          </div>
          <div class="col-md-6">
            <p><b class="h6">Contains : </b> {{room.beds}} bed(s).</p>
          </div>
          <div class="col-md-6" *ngIf="room.equipped">
            <p><b class="h6">This room is fully equipped </b> </p>
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-12">
            <p><b class="h4">Price : </b> <span style="font-size: 25px;" class="text-success h5 font-weight-bolder"> {{room.price}} MAD/Month</span></p>
          </div>

        </div>

      </div>
      <div class="col-md-6" style="height: 200px">
        <h5>Description</h5>
        <p class="h6">{{room.description}}</p>
      </div>
    </div>

  </div>
</div>


<div class="container room-features">
  <h2 class="text-info">Room Features</h2>
  <hr><br>
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let feature of room.features" style="margin-top: 50px; height: 20px;">
        <mdb-icon fas icon="tv" *ngIf="feature==='Fridge'" style="padding-right: 10px"></mdb-icon>
        <mdb-icon fas icon="video" *ngIf="feature==='Desk'" style="padding-right: 10px"></mdb-icon>
        <mdb-icon fas icon="wifi" *ngIf="feature==='Balcony'" style="padding-right: 10px"></mdb-icon>
        <mdb-icon fas icon="wifi" *ngIf="feature==='Attached bath'" style="padding-right: 10px"></mdb-icon>
        <b>{{ feature }}</b>
      </div>
    </div>
  </div>
</div>


<div class="container room-map">
  <h2 class="text-info">Room Location</h2>
  <hr>
  <div class="container" style="padding-top: 50px">
    <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 500px">
      <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
    </agm-map>
  </div>
</div>
