<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<form #loginForm="ngForm" class="col s12" (ngSubmit)="onSubmit(email.value, password.value)">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input type="email" #email ngModel name="email" id="email" required class="validate">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input type="password" #password ngModel name="Password" id="password" required>
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="loginForm.invalid" class="btn-large btn-submit grey darken-2" type="submit">Login</button>
    </div>
  </div>
</form>
