<div class="row">
  <form class="col s12" #signupForm="ngForm">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">credit_card</i>
        <input id="cardId" placeholder="L002326D" type="tel" class="validate">
        <label for="cardId">Card ID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
        <button [disabled]="!signupForm.valid" class=" input-field btn-large btn-submit col s12 waves-effect waves-light grey darken-2" type="submit" name="action">Register</button>
    </div>
  </form>

</div>
