<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="row">
  <form class="col s12" #signUpForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="full_name" name="full_name" id="full_name" type="text" class="validate" required>
        <label for="full_name">Full Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">email</i>
        <input [(ngModel)]="email" name="email" id="email" type="email" class="validate" required>
        <label for="email">Email</label>
      </div>
      <div class="input-field col s4">
        <label for="is_staff">
          <input  [(ngModel)]="is_staff" name="is_staff" id="is_staff" type="checkbox" />
          <span>Staff</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input [(ngModel)]="phone_number" name="phone_number" id="phone_number" type="tel" class="validate" required>
        <label for="phone_number">Telephone</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">credit_card</i>
        <input [(ngModel)]="id_card" name="id_card" id="cardId" placeholder="L002326D" type="text" class="validate" required>
        <label for="cardId">Card ID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input [(ngModel)]="password" name="password" id="password" type="password" class="validate" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>File</span>
          <input type="file" [(ngModel)]="image" name="image">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload your profile picture">
        </div>
      </div>
    </div>
    <div class="row">
        <button [disabled]="!signUpForm.valid" class=" input-field btn-large btn-submit col s12 waves-effect waves-light grey darken-2" type="submit" name="action">Register</button>
    </div>
  </form>

</div>
