<div class="container">
  <h1 class="text-center text-info">Apartments List</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let apartment of apartments">
      <mat-card class="example-card">

        <img mat-card-image src="{{apartment.img1}}" alt="Photo of a Shiba Inu" class="card-img">
        <mat-card-content>
          <h6>{{apartment.address}}</h6>
          <div class="row">
            <div class="col-sm-6 text-info"><h5>{{apartment.price}}</h5></div>
            <div class="col-sm-6">
              <table style="margin-left: 30px">
                <tr>
                  <td style="vertical-align: top">
                    {{apartment.bedrooms}}
                  </td>
                  <td>
                    <i class="material-icons">single_bed</i>
                  </td>
                  <td style="vertical-align: top">
                    {{apartment.bathroom}}
                  </td>
                  <td>
                    <i class="material-icons">bathtub</i>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button (click)="onSelect(apartment)">DETAILS</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="container-fluid rent-sell">

</div>

<div class="container rooms">
  <h1 class="text-center text-info">Rooms List</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let room of rooms">
      <mat-card class="example-card">

        <img mat-card-image src="{{room.img1}}" alt="Photo of a Shiba Inu" class="card-img">
        <mat-card-content>
          <h6>{{room.address}}</h6>
          <div class="row">
            <div class="col-sm-6 text-info"><h5>{{room.price}}</h5></div>
            <div class="col-sm-6">
              <table style="margin-left: 30px">
                <tr>
                  <td style="vertical-align: top">
                    {{room.beds}}
                  </td>
                  <td>
                    <i class="material-icons">single_bed</i>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button (click)="onSelectRoom(room)">DETAILS</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

